@model List<ProdutoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--TEM QUE FAZER FILTROS NESSA PARTE-->
<!--TEM QUE FAZER ALTERAR PARA SÓ APARECER FOTOS SE EXISTIR AS MESMAS-->

<h1>Listagem de Produtos</h1>


@if (ViewBag.TipoUsuario == EnumTipoUsuario.Administador) //testeeeeeeeeee
{
    <table class="table table-responsive table-striped">
        @foreach (var prod in Model)
        {
            <div class="row">
                <h3>Produto: @prod.Nome</h3> <br />
            </div>

            <div class="row" style="border-color">

                <figure>
                    <div class="col-md-8">
                        <div class="col-md-4">
                            <img id="imagePreview" src="data:image/UploadIcon;base64,@prod.ImagemEm64_1" class="image-responsive" width="200" />
                        </div>
                        <div class="col-md-4">
                            <img id="imagePreview" src="data:image/UploadIcon;base64,@prod.ImagemEm64_2" class="image-responsive" width="200" />
                        </div>
                        <figcaption>Preço: @prod.Preco <br /> Estoque: @prod.Estoque</figcaption>

                    </div>
                </figure>

                <div class="col-md-4">
                    <a href="/Produto/Alterar/@prod.Id" class="btn btn-group btn-warning">Alterar</a> &nbsp;&nbsp;
                    <a href="javascript:confirmaExclusao(@prod.Id, 'Produto')" class="btn btn-group btn-danger">Apagar</a>

                </div>
            </div>
        }

        <span class="text-danger"> @ViewBag.Erro</span>

    </table>

}
